header {
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 0 20px;
}
h1{
  color: #fff;
}
 header a  {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
 }